@{
    ViewBag.Title = "Albert BECK NSOGA";
}

<div class="jumbotron text-center">
    <h2>Albert BECK NSOGA</h2>

    <address>
        <div style="text-align:center">
            302 avenue BERTHELOT <br />
            69008 LYON<br />
            <abbr title="Phone">Phone:</abbr>
            <span class="glyphicon glyphicon-phone-alt"></span>
            06 84 03 99 96
        </div>
    </address>

    <address>
        <div style="text-align:center">

            <span class="glyphicon glyphicon-envelope "></span>   <a href="mailto:beckalbert@ymail.com">beckalbert@ymail.com</a><br />
        </div>

    </address>
</div>

