
@{
    ViewBag.Title = "Experiences";
}



    <div class="row">
        <div class="jumbotron text-center">
            <h2 style="text-align:center">Expériences Professionnelles</h2>

        </div>

        <div class="col-md-4">
            <h2>Analyste Programmeur</h2>
            <p>
                Novembre 2019 - juin 2020<br />
                GroupAgora<br />
                Lyon<br />
                Cadre : Gestion park interapplicatif.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Stage Développeur FullStack</h2>
            <p>
                Juillet 2019 - Novembre 2019
                <br />

                Société Ekium
                <br />
                Bron
                <br />
                Technologies
                <br />
                Cadre : développement industrie du future. "Industrie 4.0"
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Stagiaire TMA</h2>
            
            <p>
                Mai - Août 2018
                <br />
                Tierce maintenance applicative.
                <br />
                Société ALTECA
                <br />
                Dijon
                <br />
                Technologies - JAVA EE
                Cadre: domaine de gestion bancaire.
            </p>
            
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Administrateur Système et Réseaux</h2>
            <p>
                Avril - Novembre 2017<br /> DRAAF<br />Lyon<br />Technologies...(à compléter)<br />
                Cadre: Direction régionale de l'alimentation, agriculture et des forêts.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Technicien support utilisateur Flowline</h2>
            <p>
                Novembre 2014 - Mars 2017<br />
                FlowLine Technologies & SCC<br />Lyon<br />
                Cadre: MPLS Intégration Informatique et télécom.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Technicien Helpdesk </h2>
            <p>Mars 2012 - Octobre 2014<br />STERIA SOPRA.<br />Roanne<br />Cadre: Support Hotline N1- N2</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
