@{
    ViewBag.Title = "Albert NSOGA BECK";
}

<div class="jumbotron text-center">
    <h2>CONCEPTEUR DEVELOPPEUR DE NOUVELLES TECHNOLOGIES</h2>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

    <div class="row">
        <div class="col-md-3">

            <h2>@Html.ActionLink("Formations", "Formations", "Home")</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>

            <p><a class="btn btn-default" href="http://localhost:50247/Home/Formations">Learn more &raquo;</a></p>
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(44).jpg?w=282" style="width:100%" />
            <div class="caption">
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
        </div>
        <div class="col-md-3">
            <h2>@Html.ActionLink("Expériences", "Experiences", "Home")</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://localhost:50247/Home/Experiences">Learn more &raquo;</a></p>
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/8-col/img%20(37).jpg?w=282" style="width:100%" class="img-fluid " alt="smaple image" />
            <div class="mask flex-center rgba-red-strong">
            </div>
            <div class="caption">
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>

            </div>
        </div>

        <div class="col-md-3">

            <h2>@Html.ActionLink("Technologies", "Technologie", "Home")</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(41).jpg?w=282" style="width:100%" />
            <div class="caption">
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
        </div>

        <div class="col-md-3">

            <h2>@Html.ActionLink("Mode de vie", "About", "Home")</h2>
            <p>Association, sport, culture et technos toujours. can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://localhost:50247/Home/About">Learn more &raquo;</a></p>
            <img src="https://maylanddemo.files.wordpress.com/2019/09/eddy-klaus-bhnxfaencti-unsplash-minified.jpg?w=282" style="width:100%" />
            <div class="caption">
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
        </div>


    </div>
